In [30]:
import numpy as np
import pandas as pd

In [31]:
# lol = pd.read_csv("./2021_LoL_esports.csv")
lol = pd.read_csv("./2021_LoL_esports (cópia).csv")
lol.replace(np.nan, 0, inplace= True)
lol['Firstblood'] = lol['firstblood'].map({1.0:'fb' , 0.0:'no_fb'})
lol['Result'] = lol['result'].map({1:'win' , 0:'lose'})

lol.loc[lol.position=='team',('playername','champion')]='team'
# lol.loc[lol.position==0,('ban1','ban2','ban3','ban4','ban5')]='DC'

# lol['Playername'] = lol['playername'].map({0:'team'})

lol = lol.drop(columns=['patch','gameid','url','datacompleteness','year','date','split','playerid','teamid','opp_csat15','golddiffat15','xpdiffat15','csdiffat15','killsat15',
    'assistsat15','deathsat15','opp_killsat15','opp_assistsat15','opp_deathsat15','assistsat10','deathsat10','opp_killsat10','opp_assistsat10','opp_deathsat10','goldat15',
    'xpat15','csat15','opp_goldat15','opp_xpat15','goldat10','xpat10','csat10','opp_goldat10','opp_xpat10','opp_csat10','golddiffat10','xpdiffat10','csdiffat10','killsat10',
    'monsterkills','monsterkillsownjungle','monsterkillsenemyjungle','teamdeaths','doublekills','triplekills','quadrakills','pentakills','teamkills','gamelength','team kpm',
    'elementaldrakes','opp_elementaldrakes','chemtechs','hextechs','dragons (type unknown)','turretplates','opp_turretplates','ckpm','dpm','damageshare','damagetakenperminute',
    'damagemitigatedperminute','wpm','wcpm','vspm','earned gpm','earnedgoldshare','gspd','cspm',
    
    'damagetochampions','total cs','inhibitors','opp_inhibitors','wardsplaced','wardskilled','controlwardsbought','visionscore','totalgold','earnedgold','goldspent','opp_heralds',
    'firstbaron','barons','opp_barons','firsttower','towers','opp_towers','firstmidtower','firsttothreetowers','minionkills','dragons','opp_dragons','infernals','mountains',
    'clouds','oceans','elders','opp_elders','firstherald','heralds','kills','deaths','assists','firstbloodkill','firstbloodassist','firstbloodvictim','firstdragon',

    'firstblood','result','participantid','playoffs','game',
    'ban1','ban2','ban3','ban4','ban5',
    'league','playername'#,'position'
    ])

# filtro = lol['game']<74006

# lol = lol[filtro]

# lol 0 lol.drop()
# lol.head(12)

# lol.to_csv("./lol.csv")
# lol = pd.read_csv("./lol.csv",header = None)
lol.head(10)

   side position           teamname      champion Firstblood Result
0  Blue      top            DWG KIA   Mordekaiser         fb    win
1  Blue      jng            DWG KIA        Graves      no_fb    win
2  Blue      mid            DWG KIA           Zoe      no_fb    win
3  Blue      bot            DWG KIA  Miss Fortune      no_fb    win
4  Blue      sup            DWG KIA         Galio      no_fb    win
5   Red      top  Nongshim RedForce          Ornn      no_fb   lose
6   Red      jng  Nongshim RedForce       Kindred      no_fb   lose
7   Red      mid  Nongshim RedForce       Orianna      no_fb   lose
8   Red      bot  Nongshim RedForce        Ezreal      no_fb   lose
9   Red      sup  Nongshim RedForce         Leona      no_fb   lose

In [32]:
def Remove(_list, value):
    return list(filter(lambda x: x != value, _list))

In [33]:
lista_lol = []

for index, row in lol.iterrows():
    L_lol = row.values.tolist()
    L_lol = Remove(L_lol,0)
    lista_lol.append(L_lol)

print(lista_lol[0])

['Blue', 'top', 'DWG KIA', 'Mordekaiser', 'fb', 'win']

In [34]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(lista_lol).transform(lista_lol)
lol = pd.DataFrame(te_ary, columns=te.columns_)

lol.head(1)

,100 Thieves,100 Thieves Academy,100 Thieves Next,1907 Fenerbahçe Esports,404 Multigaming e.V.,4Elements Esports,4Elements Scuttle Squad,5 Ronin,5 Ronin Academy,7more7 Pompa Team,...,piratesports,sup,team,top,unknown team,win,x25 Esports,İstanbul Wildcats,İstanbul Wildcats Academy,ŠAIM SE SuppUp
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,False,False,False,False

In [35]:
from mlxtend.frequent_patterns import apriori, association_rules

frequent_itemsets = apriori(lol, min_support = 0.01, use_colnames = True)
frequent_itemsets.sort_values(by=['support'], ascending = False)

      support             itemsets
42   0.750798              (no_fb)
40   0.500041               (lose)
21   0.500000                (Red)
3    0.500000               (Blue)
47   0.499959                (win)
..        ...                  ...
53   0.010151          (Azir, mid)
50   0.010124       (win, Alistar)
163  0.010111  (win, sup, Alistar)
96   0.010057        (no_fb, Olaf)
116  0.010009          (mid, Ryze)

[311 rows x 2 columns]

In [37]:
from mlxtend.frequent_patterns import association_rules

rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.3)
rules.sort_values(by=['lift'], ascending = False).drop(['antecedent support', 'consequent support', 'leverage', 'conviction'], axis=1)

rules.to_csv("./lol.csv")

rules.head(50)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Alistar),(no_fb),0.019262,0.750798,0.015653,0.812632,1.082358,0.001191,1.330013
1,(Alistar),(sup),0.019262,0.166667,0.019242,0.998947,5.993684,0.016031,791.666667
2,(Alistar),(win),0.019262,0.499959,0.010124,0.525614,1.051313,0.000494,1.054080
3,(Aphelios),(bot),0.016444,0.166667,0.016423,0.998767,5.992602,0.013683,675.833333
4,(Aphelios),(no_fb),0.016444,0.750798,0.013673,0.831484,1.107467,0.001327,1.478804
5,(Azir),(mid),0.010178,0.166667,0.010151,0.997344,5.984064,0.008455,313.750000
6,(Kai'Sa),(Blue),0.029812,0.500000,0.015085,0.506008,1.012015,0.000179,1.012162
7,(Lee Sin),(Blue),0.019627,0.500000,0.010469,0.533402,1.066804,0.000656,1.071587
8,(Leona),(Blue),0.023838,0.500000,0.011273,0.472923,0.945846,-0.000645,0.948628
9,(Renekton),(Blue),0.019938,0.500000,0.010814,0.542373,1.084746,0.000845,1.092593
10,(Thresh),(Blue),0.020985,0.500000,0.010381,0.494686,0.989372,-0.000112,0.989484
11,(bot),(Blue),0.166667,0.500000,0.083333,0.500000,1.000000,0.000000,1.000000
12,(fb),(Blue),0.249202,0.500000,0.126500,0.507621,1.015242,0.001899,1.015478
13,(jng),(Blue),0.166667,0.500000,0.083333,0.500000,1.000000,0.000000,1.000000
14,(lose),(Blue),0.500041,0.500000,0.236618,0.473198,0.946395,-0.013402,0.949123
15,(Blue),(lose),0.500000,0.500041,0.236618,0.473236,0.946395,-0.013402,0.949115
16,(mid),(Blue),0.166667,0.500000,0.083333,0.500000,1.000000,0.000000,1.000000
17,(no_fb),(Blue),0.750798,0.500000,0.373500,0.497470,0.994941,-0.001899,0.994966
18,(Blue),(no_fb),0.500000,0.750798,0.373500,0.746999,0.994941,-0.001899,0.984987
19,(sup),(Blue),0.166667,0.500000,0.083333,0.500000,1.000000,0.000000,1.000000
20,(team),(Blue),0.166667,0.500000,0.083333,0.500000,1.000000,0.000000,1.000000
21,(top),(Blue),0.166667,0.500000,0.083333,0.500000,1.000000,0.000000,1.000000
22,(win),(Blue),0.499959,0.500000,0.263382,0.526807,1.053613,0.013402,1.056651
23,(Blue),(win),0.500000,0.499959,0.263382,0.526764,1.053613,0.013402,1.056641
24,(Braum),(sup),0.010969,0.166667,0.010956,0.998768,5.992606,0.009127,676.250000
25,(Camille),(no_fb),0.013145,0.750798,0.010848,0.825193,1.099088,0.000978,1.425585
26,(Camille),(top),0.013145,0.166667,0.013031,0.991260,5.947558,0.010840,95.343137
27,(Ezreal),(bot),0.016207,0.166667,0.015849,0.977898,5.867389,0.013148,37.704403
28,(Ezreal),(no_fb),0.016207,0.750798,0.013423,0.828190,1.103081,0.001254,1.450455
29,(Gnar),(no_fb),0.019417,0.750798,0.017309,0.891403,1.187274,0.002730,2.294740
30,(Gnar),(top),0.019417,0.166667,0.019377,0.997912,5.987470,0.016141,399.027778
31,(Gnar),(win),0.019417,0.499959,0.010293,0.530108,1.060302,0.000585,1.064160
32,(Gragas),(no_fb),0.012733,0.750798,0.010483,0.823248,1.096499,0.000923,1.409902
33,(Hecarim),(jng),0.012605,0.166667,0.012537,0.994638,5.967828,0.010436,155.416667
34,(Kai'Sa),(Red),0.029812,0.500000,0.014727,0.493992,0.987985,-0.000179,0.988127
35,(Kai'Sa),(bot),0.029812,0.166667,0.029745,0.997733,5.986398,0.024776,367.583333
36,(Kai'Sa),(lose),0.029812,0.500041,0.014321,0.480390,0.960702,-0.000586,0.962182
37,(Kai'Sa),(no_fb),0.029812,0.750798,0.023790,0.798005,1.062876,0.001407,1.233706
38,(Kai'Sa),(win),0.029812,0.499959,0.015491,0.519610,1.039304,0.000586,1.040906
39,(Lee Sin),(jng),0.019627,0.166667,0.012828,0.653581,3.921488,0.009557,2.405567
40,(Lee Sin),(no_fb),0.019627,0.750798,0.014457,0.736570,0.981050,-0.000279,0.945992
41,(Lee Sin),(win),0.019627,0.499959,0.010570,0.538567,1.077222,0.000758,1.083670
42,(Leona),(Red),0.023838,0.500000,0.012564,0.527077,1.054154,0.000645,1.057254
43,(Leona),(lose),0.023838,0.500041,0.011942,0.500992,1.001903,0.000023,1.001907
44,(Leona),(no_fb),0.023838,0.750798,0.018052,0.757301,1.008662,0.000155,1.026796
45,(Leona),(sup),0.023838,0.166667,0.023824,0.999433,5.996598,0.019851,1469.583333
46,(Leona),(win),0.023838,0.499959,0.011895,0.499008,0.998096,-0.000023,0.998100
47,(Lillia),(jng),0.012165,0.166667,0.011895,0.977778,5.866667,0.009868,37.500000
48,(Nautilus),(no_fb),0.017856,0.750798,0.013889,0.777820,1.035991,0.000483,1.121623
49,(Nautilus),(sup),0.017856,0.166667,0.017822,0.998107,5.988645,0.014846,440.333333