In [35]:
import numpy as np
import pandas as pd

In [36]:
# lol = pd.read_csv("./2021_LoL_esports.csv")
lol = pd.read_csv("./2021_LoL_esports (cópia).csv")
lol.replace(np.nan, 0, inplace= True)
lol['Firstblood'] = lol['firstblood'].map({1.0:'fb' , 0.0:'no_fb'})
lol['Result'] = lol['result'].map({1:'win' , 0:'lose'})

lol.loc[lol.position=='team',('playername','champion')]='team'
# lol.loc[lol.position==0,('ban1','ban2','ban3','ban4','ban5')]='DC'

# lol['Playername'] = lol['playername'].map({0:'team'})

lol = lol.drop(columns=['patch','gameid','url','datacompleteness','year','date','split','playerid','teamid','opp_csat15','golddiffat15','xpdiffat15','csdiffat15','killsat15',
    'assistsat15','deathsat15','opp_killsat15','opp_assistsat15','opp_deathsat15','assistsat10','deathsat10','opp_killsat10','opp_assistsat10','opp_deathsat10','goldat15',
    'xpat15','csat15','opp_goldat15','opp_xpat15','goldat10','xpat10','csat10','opp_goldat10','opp_xpat10','opp_csat10','golddiffat10','xpdiffat10','csdiffat10','killsat10',
    'monsterkills','monsterkillsownjungle','monsterkillsenemyjungle','teamdeaths','doublekills','triplekills','quadrakills','pentakills','teamkills','gamelength','team kpm',
    'elementaldrakes','opp_elementaldrakes','chemtechs','hextechs','dragons (type unknown)','turretplates','opp_turretplates','ckpm','dpm','damageshare','damagetakenperminute',
    'damagemitigatedperminute','wpm','wcpm','vspm','earned gpm','earnedgoldshare','gspd','cspm',
    
    'damagetochampions','total cs','inhibitors','opp_inhibitors','wardsplaced','wardskilled','controlwardsbought','visionscore','totalgold','earnedgold','goldspent','opp_heralds',
    'firstbaron','barons','opp_barons','firsttower','towers','opp_towers','firstmidtower','firsttothreetowers','minionkills','dragons','opp_dragons','infernals','mountains',
    'clouds','oceans','elders','opp_elders','firstherald','heralds','kills','deaths','assists','firstbloodkill','firstbloodassist','firstbloodvictim','firstdragon',

    'firstblood','result','participantid','playoffs','game','ban1','ban2','ban3','ban4','ban5'
    ])

# filtro = lol['game']<74006

# lol = lol[filtro]

# lol 0 lol.drop()
# lol.head(12)

lol.to_csv("./lol.csv")
# lol = pd.read_csv("./lol.csv",header = None)
lol.head(10)

/tmp/ipykernel_10379/1733669503.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  lol = pd.read_csv("./2021_LoL_esports.csv")

,league,side,position,playername,teamname,champion,Firstblood,Result
0,KeSPA,Blue,top,Khan,DWG KIA,Mordekaiser,fb,win
1,KeSPA,Blue,jng,Canyon,DWG KIA,Graves,no_fb,win
2,KeSPA,Blue,mid,ShowMaker,DWG KIA,Zoe,no_fb,win
3,KeSPA,Blue,bot,Ghost,DWG KIA,Miss Fortune,no_fb,win
4,KeSPA,Blue,sup,BeryL,DWG KIA,Galio,no_fb,win
5,KeSPA,Red,top,Rich,Nongshim RedForce,Ornn,no_fb,lose
6,KeSPA,Red,jng,Peanut,Nongshim RedForce,Kindred,no_fb,lose
7,KeSPA,Red,mid,Bay,Nongshim RedForce,Orianna,no_fb,lose
8,KeSPA,Red,bot,deokdam,Nongshim RedForce,Ezreal,no_fb,lose
9,KeSPA,Red,sup,Kellin,Nongshim RedForce,Leona,no_fb,lose

In [37]:
def removeAllOcurrencesOfValueInList(_list, value):
    return list(filter(lambda x: x != value, _list))

In [38]:
lista_lol = []

for index, row in lol.iterrows():
    L_lol = row.values.tolist()
    L_lol = removeAllOcurrencesOfValueInList(L_lol,0)
    lista_lol.append(L_lol)

print(lista_lol[0])

['KeSPA', 'Blue', 'top', 'Khan', 'DWG KIA', 'Mordekaiser', 'fb', 'win']

In [39]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(lista_lol).transform(lista_lol)
lol = pd.DataFrame(te_ary, columns=te.columns_)

lol.head(1)

,0909,100 Thieves,100 Thieves Academy,100 Thieves Next,113,1220,1907 Fenerbahçe Esports,1Haru,1an,1roNN,...,zekja,zhs,zhìì,zs,zzw,zzx,İstanbul Wildcats,İstanbul Wildcats Academy,ŠAIM SE SuppUp,Žaki
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [40]:
from mlxtend.frequent_patterns import apriori, association_rules

frequent_itemsets = apriori(lol, min_support = 0.01, use_colnames = True)
frequent_itemsets.sort_values(by=['support'], ascending = False)

      support                  itemsets
76   0.750811                   (no_fb)
5    0.500176                    (Blue)
50   0.500000                     (Red)
74   0.500000                    (lose)
80   0.500000                     (win)
..        ...                       ...
457  0.010026         (no_fb, win, LHE)
154  0.010013             (Red, Gragas)
361  0.010013       (no_fb, Rell, Blue)
571  0.010013  (sup, no_fb, Rell, Blue)
337  0.010013      (Kai'Sa, Blue, lose)

[639 rows x 2 columns]

In [41]:
from mlxtend.frequent_patterns import association_rules

rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.3)
rules.sort_values(by=['lift'], ascending = False).drop(['antecedent support', 'consequent support', 'leverage', 'conviction'], axis=1)

            antecedents        consequents   support  confidence      lift
1009             (Gnar)  (no_fb, win, top)  0.012864    0.479839  7.017783
855      (Blue, Kai'Sa)         (win, bot)  0.013256    0.569356  6.832269
354              (Udyr)        (jng, Blue)  0.014661    0.558128  6.697531
1126          (Orianna)  (no_fb, win, mid)  0.011337    0.446277  6.615836
836           (Alistar)  (no_fb, win, sup)  0.011513    0.397573  6.598347
...                 ...                ...       ...         ...       ...
229              (team)            (no_fb)  0.083387    0.500324  0.666379
411        (Blue, team)            (no_fb)  0.040971    0.491649  0.654824
983   (win, Blue, team)            (no_fb)  0.017148    0.383384  0.510626
805         (win, team)            (no_fb)  0.031944    0.383331  0.510556
1200   (win, Red, team)            (no_fb)  0.014796    0.383269  0.510474

[1220 rows x 5 columns]